HTTPS_PORT=443
FIREBASE_TARGET=http://127.0.0.1:5500

MQTT_PROTOCOL=mqtt
MQTT_HOST=broker.your-remote-domain.com
MQTT_PORT=1883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
MQTT_CLIENT_ID=rescue_web_bridge
MQTT_SUBSCRIBE_TOPIC=#
